:root {
  --primary-color: #ecfafc;
  --secondary-color: #1081ea;
  --font-family: "Poppins";
}

body {
  background: var(--primary-color) !important;
}

h1 {
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 80px !important;
  font-weight: 800 !important;
}
p {
  font-family: var(--font-family);
  font-size: 24px !important;
  font-weight: normal;
}

#home {
  text-align: center;
  margin-top: 200px;
}

.view {
  margin-top: 33px;
  padding: 18px 30px;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
  width: 300px;
  background-image: url(cows/button.png);
}

.view:hover {
  margin-top: 33px;
  padding: 18px 30px;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  width: 300px;
  font-weight: bold;
  background-image: url(cows/hover.png);
}
.nav-link {
  color: var(--secondary-color) !important;
  text-align: right !important;
}

.intro {
  font-family: var(--font-family);
  font-size: 24px;
  margin-top: 120px;
  margin: 50px;
}

.work {
  background: white !important;
}

.cowboy {
  margin-top: 50px;
  margin-left: 60px;
  width: 500px;
  border-radius: 10px;
}

.moomoo {
  padding: 25px 96px;
  background-image: url(cows/button.png);
  border: 3px solid black;
  border-radius: 20px !important;
  color: black;
}

.moomoo:hover {
  padding: 25px 96px;
  background-image: url(cows/hover.png);
  border: 3px solid white;
  border-radius: 20px !important;
  color: white;
  font-weight: bold;
}

h3 {
  font-family: "Poppins";
  font-size: 30px;
}

#contact {
  background: var(--primary-color);
  text-align: center;
  align-items: center;
}

.navbar-toggler {
  background-image: url(cows/hover.png);
}

#contact {
  margin-top: 100px;
  padding: 30px;
}

#contact h3 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin: 30px;
}

#contact p {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
.ig {
  width: 30px;
  padding-right: 5px;
}

.iglink {
  color: black;
  font-size: 15px;
  font-weight: 250;
}
