:root {
  --primary-color: #ecfafc;
  --secondary-color: #1081ea;
  --font-family: "Poppins";
}

/*index*/

body {
  background: var(--primary-color) !important;
}

h1 {
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 600;
}

#love-cows {
  font-family: "Playfair Display", serif;
  font-size: 75px;
  font-weight: 600;
}

p {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: normal;
}

#home {
  text-align: center;
  margin-top: 200px;
}

.view {
  margin-top: 33px;
  padding: 18px 30px;
  border-radius: 10px;
  border: 3px solid black;
  color: black;
  width: 300px;
  background-image: url(cows/button.png);
}

.view:hover {
  margin-top: 33px;
  padding: 18px 30px;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  width: 300px;
  font-weight: bold;
  background-image: url(cows/hover.png);
}
.nav-link {
  color: var(--secondary-color) !important;
  text-align: right !important;
}

/*work*/
.intro {
  font-family: var(--font-family);
  font-size: 24px;
  margin-top: 120px;
  margin: 50px;
}

#work {
  background: white !important;
}

#work h2 {
  margin-top: 100px;
  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-weight: 700;
  padding: 15px;
}

.work-cows {
  margin-top: 50px;
  width: 400px;
  border-radius: 10px;
}

#work button {
  padding: 20px 60px;
  background-image: url(cows/button.png);
  border: 2px solid black;
  border-radius: 20px !important;
  color: black;
  margin: 20px;
}

#work button:hover {
  padding: 25px 96px;
  background-image: url(cows/hover.png);
  border: 3px solid white;
  border-radius: 20px !important;
  color: white;
  font-weight: bold;
}

#work p {
  margin: 5px;
}

h3 {
  font-family: "Poppins";
  font-size: 30px;
}
/*contact*/

#contact {
  background: var(--primary-color);
  text-align: center;
  align-items: center;
}

.navbar-toggler {
  background-image: url(cows/hover.png);
}

#contact {
  margin-top: 100px;
  padding: 30px;
}

#contact h3 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin: 30px;
}

#contact p {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
.ig {
  width: 30px;
  padding-right: 5px;
}

.iglink {
  color: black;
  font-size: 15px;
  font-weight: 250;
}

#homefooter p {
  margin-top: 500px;
  line-height: 25px;
  text-align: center;
  color: gray;
  font-size: 10px;
  font-family: "Poppins", serif;
}

#homefooter a {
  color: darkcyan;
}

#workfooter p {
  margin-top: 30px;
  color: black;
  font-size: 10px;
  text-align: center;
}

#workfooter a {
  color: darkcyan;
}

@media (max-width: 768px) {
  #work button {
    padding: 5px 36px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    width: 180px;
  }
  #work button:hover {
    padding: 5px 36px;
    background: black;
    color: white;
    width: 180px;
    border-radius: 10px;
    border: 1px solid black;
  }
  #work h2 {
    font-size: 35px;
  }
  #work p {
    font-size: 20px;
  }
  #contact h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: left !important;
  }
  #contact p {
    font-size: 15px;
    text-align: left !important;
    margin: 0;
    padding: 0;
  }
  .iglink {
    font-size: 15px;
    display: flex;
    margin: 0;
    padding: 0;
  }

  #workfooter p,
  a {
    font-size: 12px;
  }
}
